name: CD - Production

on:
  push:
    branches:
      - main

environment: production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Render (Production)
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys
